/**
 * Styles
 * =========================================== */
body {
	min-height: 670px;
}
.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}
.loader {
	text-align: center;
}
.loader img {
	width: 150px;
}
.text {
	margin-top: 20px;
	font-size: 16px;
	top: 65%;
	text-align: center;
}
.link {
	margin-top: 10px;
	font-size: 16px;
	top: 70%;
	text-align: center;
}
.over {
	text-transform: uppercase;
}
.tips {
	margin-top: 25px;
	font-size: 16px;
	text-align: center;
	padding: 0 5px;
}
.usersInform {
	text-align: center;
	position: relative;
	top: 100px;
}
@media (max-width: 767px) {
    #swiper_banners {
        margin: 0 25px;
    }
}